Source: truecrypt
Section: utils
Priority: extra
Maintainer: Stefan Sundin <stefan@stefansundin.com>
Build-Depends: debhelper (>= 9.20120909), pkg-config, libgtk2.0-dev,
 libfuse-dev, nasm, libappindicator-dev, bash-completion
Standards-Version: 3.9.6
Homepage: https://launchpad.net/~stefansundin/+archive/ubuntu/truecrypt

Package: truecrypt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dmsetup
Suggests: bash-completion, opensc, xterm, xdg-open, sudo
Description: Free open-source disk encryption software
 TrueCrypt is a software system for establishing and maintaining an
 on-the-fly-encrypted volume (data storage device). On-the-fly encryption
 means that data are automatically encrypted or decrypted right before they
 are loaded or saved, without any user intervention. No data stored on an
 encrypted volume can be read (decrypted) without using the correct
 password/keyfile(s) or correct encryption keys. Entire file systems can be
 encrypted.
 .
 This package includes the following patches:
 1) The standard tray icon has been replaced with a unity indicator.
 2) TrueCrypt is automatically added to your Startup Applications.
 3) A bash completion script is included.
 4) A mount external helper is included (can be used with fstab).
 .
 To automatically grant TrueCrypt root privileges to mount volumes, run
 `sudo visudo` and add this to the end of the file:
 your_username ALL=(ALL) NOPASSWD:/usr/bin/truecrypt
