#!/usr/bin/make -f
# -*- makefile -*-

# NOTEST has been set because of a bug in wxWidgets that is fixed in 3.2.5:
# https://github.com/wxWidgets/wxWidgets/issues/24081

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use the following to use a specific gcc version:
#export CC=gcc-5
#export CXX=g++-5

export PKCS11_INC=$(shell pwd)/debian/pkcs11
VERSION=$(shell grep -m1 -oE '7.1a-[0-9a-z]+' debian/changelog)
export TC_EXTRA_CXXFLAGS=-DVERSION_STRING='"$(VERSION)"' -DTC_STR_RELEASED_BY='"Released by Stefan Sundin"'
export TC_EXTRA_LFLAGS=-Wl,--as-needed
export TC_EXTRA_LIBS=-ldl

%:
	dh $@

Main/truecrypt-gui:
	dh_testdir
	$(MAKE) clean
	$(MAKE) NOTEST=1
	mv Main/truecrypt Main/truecrypt-gui

Main/truecrypt-cli:
	dh_testdir
	$(MAKE) clean
	$(MAKE) NOTEST=1 NOGUI=1
	mv Main/truecrypt Main/truecrypt-cli

build: Main/truecrypt-gui Main/truecrypt-cli
build-arch: build
build-indep: build

clean:
	dh_testdir
	dh_clean
	rm -f Main/truecrypt-gui Main/truecrypt-cli
	$(MAKE) clean
	rm -f Common/Language.xml.h Common/Textual_logo_96dpi.bmp.h Format/TrueCrypt_Wizard.bmp.h License.txt.h Main/SystemPrecompiled.d Mount/Drive_icon_96dpi.bmp.h Mount/Drive_icon_mask_96dpi.bmp.h Mount/Logo_96dpi.bmp.h

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p debian/truecrypt/usr/bin/
	mkdir -p debian/truecrypt-cli/usr/bin/
	install -m 755 Main/truecrypt-gui debian/truecrypt/usr/bin/truecrypt
	install -m 755 Main/truecrypt-cli debian/truecrypt-cli/usr/bin/truecrypt

binary: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installdocs "Release/Setup Files/TrueCrypt User Guide.pdf"
	install -m 644 -D "Resources/Icons/TrueCrypt-48x48.xpm" debian/truecrypt/usr/share/pixmaps/truecrypt.xpm
	install -m 644 -D debian/truecrypt-indicator.png debian/truecrypt/usr/share/pixmaps/truecrypt-indicator.png
	install -m 644 -D debian/truecrypt.sharedmimeinfo debian/truecrypt/usr/share/mime/packages/truecrypt.xml
	install -m 644 -D debian/truecrypt.desktop debian/truecrypt/usr/share/applications/truecrypt.desktop
	install -m 644 -D debian/truecrypt-autostart.desktop debian/truecrypt/etc/xdg/autostart/truecrypt.desktop
	install -m 755 -D debian/mount.truecrypt debian/truecrypt/sbin/mount.truecrypt
	install -m 755 -D debian/mount.truecrypt debian/truecrypt-cli/sbin/mount.truecrypt
	install -m 644 -D debian/truecrypt.bash-completion debian/truecrypt/usr/share/bash-completion/completions/truecrypt
	install -m 644 -D debian/truecrypt.bash-completion debian/truecrypt-cli/usr/share/bash-completion/completions/truecrypt
	dh_installman -A debian/truecrypt.1
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: binary
binary-indep: binary

.PHONY: build build-arch build-indep clean binary binary-arch binary-indep install patch unpatch
