[Desktop Entry]
Encoding=UTF-8
Name=TrueCrypt
Type=Application
Exec=/usr/bin/truecrypt --background-task
Icon=/usr/share/pixmaps/truecrypt.xpm
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Comment=Add --auto-mount=favorites to automatically mount favorite volumes.
